h1{
    color:blue;
    text-align:center;

}
h2{
    color:red;
}
.standout-box{
background-color: whitesmoke;
border-radius: 1rem;
padding: 1rem;
font-family: "Merriweather", serif;
width:500px;

}

}
.subtitle{
text-transform: uppercase;
color: black;
font-size: 1.5rem;
font-weight: bold;
}
img{
    width:70%
    height:450px;

}
