h1{
    color:black;
    text-align:center;

}
h2{
    color:red;
}
.standout-box{
background-color: whitesmoke;
border-radius: 1rem;
padding: 1rem;
font-family: "Merriweather", serif;
width:500px;

}

}
.subtitle{
text-transform: uppercase;
color: black;
font-size: 1.5rem;
font-weight: bold;
}

.hero-section{
    background: url("https://images.theconversation.com/files/605800/original/file-20240709-18-ljpvlo.jpg?ixlib=rb-4.1.0&rect=0%2C0%2C5000%2C3330&q=50&auto=format&w=768&h=512&fit=crop&dpr=2");
    background-size:cover;
    backgroung-position: center center;
    background-repeat:no-repeat;
    heigth: 100vh;
    width:100%

}
