.standout-box{
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    font-family: "Merriweather", serif;
    width:500px;

}

}
.subtitle{
    text-transform: uppercase;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
